/* .item img{
    width: 30%;
} */
// todo: review зло ч-з классы как минимум!!! А так стили должны быть закрыты в рамках компонента
li {
  list-style-type: none;
}

.row {
  margin: 10px 0;
  border: 1px solid rgba(75, 155, 253, 0.4);
  border-radius: 3px;
  padding: 10px 0;
}

.row:hover {
  box-shadow: 1px 4px 5px rgba(75, 155, 253, 0.25);
}

.bold {
  font-weight: 600;
  font-size: 17px;
  padding-left: 10px;
}

.smallThumbnail {
  max-width: 128px;
}
