.input-group-margin {
  margin-top: 20px;
}

.searchPanel {
  height: auto;
  font-size: 20px;
}

.label-text {
  padding-top: 2px;
  margin: 0 20px 0 0;
  font-size: 26px;
  line-height: 40px;
  color: #007bff;
}

.colorize {
  background: linear-gradient(90deg, #1f74f5 15%, #f2f51f 60%, #f51f1f 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1000px) {
  .label-text {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}
